.vote_Status {
	background-color: #9a02ac;
	padding: 0.5rem 1rem;
	font-size: 1.3rem;
	color: #fff;
	font-weight: 700;
	border-radius: 0.2rem;
}
.message_box {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5rem 3rem;
	background-color: #9a02ac;
	position: absolute;
	z-index: 11111;
	border-radius: 1rem;
	font-size: 2rem;
}
@media screen and (max-width: 35em) {
	.message_box {
		width: 80%;
		font-size: 1.3rem;
		padding: 2rem 1rem;
		top: 55%;
	}
}
